@use "~/common/styles/variables" as *;

.select-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacing-md;

  &__options-container {
    position: relative;
  }

  &__options {
    top: 0;
    left: 0;
    margin-top: 20px;
    position: absolute;
    z-index: 10;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    max-height: 400px;
    overflow: auto;

    background-color: var(--color-opaque);
    box-shadow: 0 0 12px 2px var(--color-shadow);
    backdrop-filter: blur(20px);
  }

  &__option {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128, 0.2);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    height: 34px;
    align-items: center;

    &:hover {
      backdrop-filter: brightness(120%);
    }

    &--checked-icon {
      color: var(--color-primary);
    }
  }
}
