@use "~/common/styles/variables" as *;

.infoToggleActionButton {
  position: absolute;
  right: $spacing-md;
  top: $spacing-md;
  box-shadow: 0 0px 20px 5px var(--color-shadow);
  background-color: var(--color-opaque);

  .infoToggleIcon {
    fill: var(--color-text);
  }
}
