.infoToggleActionButton {
  position: absolute;
  right: 10px;
  top: 10px;

  &:active {
    backdrop-filter: blur(5px) brightness(80%);
    .infoToggleIcon {
      margin-top: 2px;
      margin-left: 2px;
    }
  }
}
