@use "~/common/styles/variables" as *;
@use "~/common/styles/global" as *;
@use "sass:color";

.info-toggle {
  &__container {
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;

    @include sm {
      right: $spacing-md;
      top: $spacing-md;
    }
  }
  &__icon {
    fill: var(--color-primary);
    stroke: none;
  }
}
