:root {
  --color-bg: #242446;
  --color-text: #cecece;
  --color-shadow: #1d1642a4;
  --color-opaque: #6954d126;
  --color-primary: #5e4972;
  --gradient-primary: linear-gradient(rgba(0, 0, 255, 0.178), rgba(255, 0, 0, 0.178));
}