[data-theme="light"] {
  --color-bg: #cecece;
  --color-text: #272727;
  --color-shadow: #3b3e3f88;
  --color-opaque: #8b8b8b80;
  --color-primary: #848ead;
  --gradient-primary: linear-gradient(#cadaeea1, rgba(9, 0, 129, 0.349));
}