@import "../../common/styles/global.scss";

.skinInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  backdrop-filter: blur(20px) brightness(80%);
  border-radius: 20px;
  border: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 0px 40px 15px black;

  @include sm {
    width: 70%;
    height: 60%;
  }

  @include md {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include lg {
    width: 50%;
  }

  .headerContainer {
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;

    .primaryHeader {
      font-size: 24px;
      text-align: left;
    }

    .secondaryHeader {
      font-size: 13px;
      text-align: left;
    }
  }

  .descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    margin: 10px 0;

    .description {
      max-height: 100%;
      text-align: justify;
    }
  }
  .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
