@use "~/common/styles/global" as *;
@use "~/common/styles/variables" as *;

.skin-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $spacing-lg;
  box-shadow: 0 0px 40px 15px var(--color-shadow);
  background: var(--gradient-primary);
  border-radius: 20px;
  mix-blend-mode: multiply;
  border: 1px solid grey;

  &__container {
    width: 100%;
    height: 60%;
    backdrop-filter: blur(20px);
    background-color: var(--color-opaque);
    border-radius: 20px;

    @include sm {
      width: 70%;
    }

    @include lg {
      width: 50%;
    }
  }

  &__headers {
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: $spacing-sm;
  }

  &__header {
    font-size: 24px;
    text-align: left;
  }

  &__sub-header {
    font-size: 13px;
    text-align: left;
  }

  &__description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    margin: $spacing-md $spacing-none;
  }
  &__description {
    max-height: 100%;
    text-align: justify;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
  }
}
