.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  a {
    &:focus {
      color: grey;
    }
    &:visited {
      color: grey;
    }
  }
}

.pageDescription {
}
