@use "~/common/styles/global" as *;
@use "~/common/styles/variables" as *;

.skin {
  height: 300px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  border: 1px solid grey;
  box-shadow: 0 0 20px 1px var(--color-shadow);

  @include sm {
    height: 500px;
    box-shadow: 0 0 20px 5px var(--color-shadow);
  }

  @include xl {
    box-shadow: 0 0 30px 8px var(--color-shadow);
  }

  &__image-container {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    position: absolute;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: $spacing-sm;

    @include sm {
      padding: $spacing-lg;
    }

    @include md {
      padding: $spacing-xl;
    }
  }
}
