@use "~/common/styles/global" as *;
@use "~/common/styles/variables" as *;

.skinContainer {
  height: 300px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  border: 1px solid grey;
  box-shadow: 0 0 20px 1px var(--color-shadow);

  @include sm {
    height: 500px;
    box-shadow: 0 0 20px 5px var(--color-shadow);
  }

  @include xl {
    box-shadow: 0 0 30px 8px var(--color-shadow);
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    position: absolute;

    .skinImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
  }

  .skinInfoContainerWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: $spacing-sm;

    @include sm {
      padding: $spacing-lg;
    }

    @include md {
      padding: $spacing-xl;
    }

    .skinInfoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      height: 100%;
      width: 100%;
    }
  }
}
