.actionButton {
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  background-color: unset;
  align-items: center;
  border: none;
  backdrop-filter: blur(1px);
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    filter: brightness(130%);
  }
  &:active {
    filter: brightness(130%);
  }
  &--bordered {
    border: 1px solid grey;
  }
}
