@use "./common/styles/global.scss" as *;
@use "./common/styles/variables.scss" as *;

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $screen-xl-min;
  padding: 0 $spacing-md;
  gap: $spacing-lg;

  @include sm {
    padding: 0 $spacing-lg;
  }

  @include md {
    padding: 0 $spacing-xl;
  }

  @include xl {
    padding: $spacing-none;
  }
}
