body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Oxanium";
}
*, ::before, ::after {
  box-sizing: border-box;
}

#root {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}


a {
  color: grey;
  
  &:focus {
    color: grey;
  }

  &:visited {
    color: grey;
  }

  &:hover {
    color: white;
  }
}