#root {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}


a {
  color: grey;
  
  &:focus {
    color: grey;
  }

  &:visited {
    color: grey;
  }

  &:hover {
    color: white;
  }
}